<!DOCTYPE html>
<html>
	<head>
		<title>My Clock</title>
		<link rel="stylesheet" href="clock.css">
		
	</head> 
	<body>
		<h1>Check out this awesome clock!</h1>
		<div class="clockbody">
			
			<div id="secondhand" class="clockhand">
			</div>
			<div id="minutehand" class="clockhand">
			</div>
			<div id="hourhand" class="clockhand">
			</div>
			
		</div>
	<script src="clock.js"></script>
	</body>
</html>