<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Oyster University | Trivia</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/freelancer.css" rel="stylesheet">
  <link href="css/learn.css" rel="stylesheet">
  <link href="css/radio.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">Oyster University</a>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
    <div class="container" style="width:100%;margin:0; top:-95px;">
      <div class="row">
        <div class="wrapper" style='z-index:1; height:1630px; '>
          <ul class="bg-bubbles" style="margin-bottom:0px">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
		  <div style='z-index: 2;'>
				<h1>Quiz</h1>
				<br>
				<form action='/trivia' method='post'>
			  <h2>1: The adductor muscle leaves a scar on the shell</h2>
				<div style='display: inline-block;'>
					<fieldset id="q1">
			  <input type="radio" name="q1" value="11" id="toggle-1" checked="checked"> 
				<label for="toggle-1">TRUE</label>
				<input type="radio" name="q1" value="12" id="toggle-2"> 
				<label for="toggle-2">FALSE</label>
					</fieldset>
				</div>
				
				<h2>2: What is the primary function of the mantle?</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q2" value="21" id="toggle-3" checked="checked"> 
				<label for="toggle-3">Produces heat</label>
				<input type="radio" name="q2" value="22" id="toggle-4"> 
				<label for="toggle-4">Produces oyster shells</label>
				<input type="radio" name="q2" value="23" id="toggle-5"> 
				<label for="toggle-5">Both</label>
					</fieldset>
				</div>
					
				<h2>3: Which organ system are the gills part of?</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q3" value="31" id="toggle-6" checked="checked"> 
				<label for="toggle-6">Respiratory</label>
				<input type="radio" name="q3" value="32" id="toggle-7"> 
				<label for="toggle-7">Circulatory</label>
				<input type="radio" name="q3" value="33" id="toggle-8"> 
				<label for="toggle-8">Excretory</label>
					</fieldset>
				</div>
					
					<h2>4: The labial palps do not control the amount of food passed to the mouth</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q4" value="41" id="toggle-9" checked="checked"> 
				<label for="toggle-9">TRUE</label>
				<input type="radio" name="q4" value="42" id="toggle-10"> 
				<label for="toggle-10">FALSE</label>
					</fieldset>
				</div>
				
				<h2>5: What is the purpose of the rectum?</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q5" value="51" id="toggle-11" checked="checked"> 
				<label for="toggle-11">Breack the oysters</label>
				<input type="radio" name="q5" value="52" id="toggle-12"> 
				<label for="toggle-12">Store Food</label>
				<input type="radio" name="q5" value="53" id="toggle-13"> 
				<label for="toggle-13">Expel Waste</label>
					</fieldset>
				</div>
				
				<h2>6: The visceral mass contains organs for digestion, reproduction, excretion and circulation</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q6" value="61" id="toggle-14" checked="checked"> 
				<label for="toggle-14">TRUE</label>
				<input type="radio" name="q6" value="62" id="toggle-15"> 
				<label for="toggle-15">FALSE</label>
					</fieldset>
				</div>
					
				<h2>7: What is the purpose of the pericardial cavity?</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q7" value="71" id="toggle-16" checked="checked"> 
				<label for="toggle-16">Make sure the oysters have no cavities</label>
				<input type="radio" name="q7" value="72" id="toggle-17"> 
				<label for="toggle-17">Contains fluids for the heart to move</label>
				<input type="radio" name="q7" value="73" id="toggle-18"> 
				<label for="toggle-18">Neither</label>
					</fieldset>
				</div>
					
					<h2>8: Which organ serves as a transport system?</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q8" value="81" id="toggle-19" checked="checked"> 
				<label for="toggle-19">Connective Tissue</label>
				<input type="radio" name="q8" value="82" id="toggle-20"> 
				<label for="toggle-20">Mantle</label>
				<input type="radio" name="q8" value="83" id="toggle-21">
				<label for="toggle-21">Gills</label>
					</fieldset>
				</div>
				
				<h2>9: The large intestine is where most of the digestion and food absorption takes place</h2>
				<div style='display: inline-block;'>
					<fieldset>
			  <input type="radio" name="q9" value="91" id="toggle-22" checked="checked"> 
				<label for="toggle-22">TRUE</label>
				<input type="radio" name="q9" value="92" id="toggle-23"> 
				<label for="toggle-23">FALSE</label>
					</fieldset>
					<img class='starOyster' src='/img/oyster.png'>
					
					<button class='btn btn-outline btn-lg'type='submit'>SUBMIT</button>
					</form>
				</div>
		  </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <h3>Billion Oyster Project</h3>
            <a href="http://www.billionoysterproject.org/" class="btn-social btn-outline"><i class="fa fa-fw fa-info-circle"></i></a>
          </div>
          <div class="footer-col col-md-4">
            <h3>Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="https://www.facebook.com/billionoysterproject" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/billionoyster" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.newyorkharborschool.org/donate/" class="btn-social btn-outline"><i class="fa fa-fw fa-money"></i></a>
              </li>
              <li>
                <a href="mailto:info@nyharbor.org" class="btn-social btn-outline email"><i class="fa fa-fw fa-envelope"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>STEM</h3>
            <a href="http://www.stemedcoalition.org/" class="btn-social btn-outline"><i class="fa fa-fw fa-info-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; 2015
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/freelancer.js"></script>

</body>

</html>