input[type=checkbox] {
  display:none;
 /* position: absolute;
   top: -9999px;
   left: -9999px;
  */
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}
input[type=radio] {
    display:none;
}
/* Default State */

label{
  display:block;
   background: rgb(0,140,255);
  padding-left: 10px;
  padding-right: 10px;
   width: 100% px;
   height: 50px;
  line-height:50px;
   color: white;
   text-align: center;
  border-radius:25px;
  cursor:pointer;
  float:left;
  margin-right:10px;
  font-size:20px;
}
/* Toggled State */
input[type=radio]:checked + label {
   background: rgb(0,80,150);
}